language: go
go:
  - "1.12"
  - master

env:
  - GO111MODULE=on

install:
  - go get -u golang.org/x/lint/golint

script:
  - make check
  - make build
  - make test
  - make coverage

after_success:
  - make release

deploy:
  provider: releases
  api_key: $API_KEY
  file_glob: true
  file: release/*
  skip_cleanup: true
  draft: true
  on:
    tags: true
    condition: $TRAVIS_GO_VERSION = 1.12
